:root {
    --lightBlue: #CAD8E6;
    --midBlue: #A2C6D8;
    --darkBlue: #78A3C5;
    --lightYellow: #FFF7EB;
    --goldYellow: #FFECCF;
    --whiteColor: #ebeff8;
}

body {
    background-color: var(--midBlue);
}

/* HEADER STYLING */

header {
    background-color: var(--darkBlue);
    display: flex;
    justify-content: center;
    padding: 0.5%;
}

#logo img {
    height: auto;
    width: 20%;
}

#searchBar {
    background-color: var(--whiteColor);
    border-radius: 15px;
    border-style: none;
    color: grey;
    padding: 1px 3px;
}

#searchInput {
    color: rgb(93, 93, 93);
    background-color: transparent;
    border-style: none;
    margin-left: 8px;
    margin-bottom: 4px;
}

#searchInput:focus {
    outline: none;
    border-style: none;
    border-color: none;
    background-color: transparent;
}

#searchBtn {
    all: unset;
    height: 22.5px;
    width: 20px;
    margin-top: 3px;
    margin-right: 4px;
    cursor: pointer;
}

#searchBtn svg {
   fill: grey;
   border-style: none;
   border-color: none;
}

/* BODY STYLING */

content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prevSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}

.prevSearch button {
    background-color: var(--darkBlue);
    font-size: 15px;
    border-style: none;
    border-radius: 20px;
    padding: 0.5%;
    color: var(--whiteColor);
    margin: 0% 1%;
    cursor: pointer;
}

.mainWeatherContainer {
    margin: 4% 20% 2% 20%;
    display: flex;
    flex-direction: row;
    height: 550px;
}

.mainWeatherContainer p {
    text-align: center;
    padding: 15%;
}

.selectedWeatherContainer {
    width: 62%;
    background-color: var(--darkBlue);
    margin-right: 3%;
    border-radius: 30px;
}

.selectedWeatherContainer p {
    z-index: 1;
}

.futureWeatherContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.futureWeatherCard {
    background-color: var(--darkBlue);
    border-radius: 20px;
    height: 18%;
    padding: 1%;
}

.futureWeatherContainer p {
    text-align: center;
    padding: 0px;
}

.highLowContainer {
    border-radius: 20px;
    background-color: var(--darkBlue);
    height: 100px;
    margin: 0% 20%;
    display: flex;
    justify-content: center;
}

/* FOOTER STYLING */

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--darkBlue);
    padding: 1%;
}